---
import Layout from "../layouts/Layout.astro";
import NosotrosAngel from "../components/Nosotros";
import Porque from "../components/Porque";
import Certificacion from "../components/Certificacion";
import MediosPagos from "../components/MediosPagos";
import Responsabilidad from "../components/Responsabilidad";
---
<Layout 
    title="Angel Aventura Tours | Nuestra Historia y Valores en la Selva Central" 
    description="Más de 17 años promoviendo cultura, gastronomía y cuidado del medio ambiente en la Selva Central del Perú. Conócenos y viaja con confianza."
>
    <main>
        <NosotrosAngel />
        <Porque />
        <Certificacion />
        <MediosPagos />
        <Responsabilidad />
    </main>
</Layout>