---
import TourSelvaCentral from "../components/TourSelvaCentral"
import Layout from "../layouts/Layout.astro"
---
<Layout 
    title="Turismo en Selva Central | Paquetes de Viaje Completos" 
    description="Explora lo mejor de la Selva Central del Perú: Chanchamayo, Oxapampa, Pozuzo y más con nuestros paquetes turísticos certificados por MINCETUR."
>
    <main>
        <TourSelvaCentral />
    </main>
</Layout>