---
import TourChanchamayo from "../components/TourChanchamayo"
import Layout from "../layouts/Layout.astro"
---
<Layout 
    title="Tours en Chanchamayo | Cataratas y Café | Hakuna Matata Travel VIP" 
    description="Explora Chanchamayo con los expertos. Tours a cataratas, valles cafetaleros y comunidades nativas en la capital cafetalera del Perú."
>
    <main>
        <TourChanchamayo />
    </main>
</Layout>