---
import Contacts from "../components/Contacts";
import Mapa from "../components/Mapa";
import Layout from "../layouts/Layout.astro";
---
<Layout 
    title="Contáctanos | Angel Aventura Tours | Chanchamayo y Oxapampa" 
    description="¿Tienes dudas? Contáctanos para planificar tu viaje a la Selva Central. Atención personalizada por WhatsApp y correo electrónico."
>
    <main>
        <Contacts />
        <Mapa />
    </main>
</Layout>