---
import TourEscolares from "../components/TourEscolares"
import Layout from "../layouts/Layout.astro"
---
<Layout 
    title="Viajes de Promoción y Escolares | Selva Central | Hakuna Matata" 
    description="Organizamos el mejor viaje de promoción a la Selva Central. Seguridad, diversión y aprendizaje para grupos escolares con guías especializados."
>
    <main>
        <TourEscolares />
    </main>
</Layout>