---
import TourFullDay from "../components/TourFullDay"
import Layout from "../layouts/Layout.astro"
---
<Layout 
    title="Tours Full Day Selva Central | Chanchamayo y Oxapampa" 
    description="¿Poco tiempo? Disfruta de nuestras escapadas Full Day en Chanchamayo y Oxapampa. Lo mejor de la selva central en un solo día con Hakuna Matata."
>
    <main>
        <TourFullDay />
    </main>
</Layout>