---
import Politicas from "../components/Politicas"
import Layout from "../layouts/Layout.astro"
---
<Layout 
    title="Nuestras Políticas y Condiciones | Angel Aventura Tours" 
    description="Consulta nuestras políticas de reserva, cancelación y términos de servicio para tu tranquilidad al viajar a la Selva Central."
>
    <main>
        <Politicas />
    </main>
</Layout>