---
import TourOxapampa from "../components/TourOxapampa"
import Layout from "../layouts/Layout.astro"
---
<Layout 
    title="Tours en Oxapampa | Naturaleza y Tradiciones Austro-Alemanas" 
    description="Descubre el encanto de Oxapampa. Vive la armonía entre montañas, tradiciones europeas y la exuberante selva central con Angel Aventura Tours."
>
    <main>
        <TourOxapampa />
    </main>
</Layout>