---
import Footer from "../components/Footer";
import Navbar from "../components/Navbar.tsx";
import TopHeader from "../components/TopHeader.tsx";
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Angel Aventura Tours | Operador Turístico Calificado Por MINCETUR</title>
		<meta name="description" content="Somos una empresa especializada en brindar servicios turísticos en la selva central del Perú con más de 17 años de experiencia y tenemos como fin promover nuestra cultura, gastronomía y el cuidado del medio ambiente.">
	</head>
	<body>
		<TopHeader client:load />
		<Navbar client:load />
		<slot />
		<Footer client:load />
	</body>
</html>